<div class="user-services">
	<%= link_to 'logout', destroy_user_session_path, method: :delete %>	
	<div class="first-feature-line">
		<div class="image-compression">
			<p><%= fa_icon "picture-o", class:"ic-icon" %></p>
			<span>Image compression</span>
		</div>
		<div class="image-conversion">
			<p><%= fa_icon "file-text", class:"ic-icon" %></p>
			<span>Image conversion</span>
		</div>
		<div class="audio-conversion">
			<p><%= fa_icon "file-audio-o", class:"ic-icon" %></p>
			<span>Audio conversion</span>
		</div>
	</div>
	<div class="second-feature-line">
		<div class="video-conversion">
			<p><%= fa_icon "video-camera", class:"ic-icon" %></p>
			<span>Video conversion</span>
		</div>
		<div class="upload-static">
			<p><%= fa_icon "cloud-upload", class:"ic-icon" %></p>
			<span><%= link_to "Upload my own file", userimageupload_index_path %></span>
		</div>
	</div>
</div>