<%= javascript_pack_tag "nav" %>
<div class="navbar">
    <ul class="navbar-ul">
        <div class="nav-option">
            LOGO
        </div>
        <div class="nav-option-center">
            <li><%= link_to 'Home', root_path %></li>
            <li><%= link_to 'Service', root_path(:anchor => "service") %></li>
            <li><%= link_to 'About', root_path %></li>
            <li><%= link_to 'Contact', root_path(:anchor => "contact") %></li>
        </div>
        <div class="nav-option-right">
            <% if user_signed_in?%>
                <% if current_user.admin?%>
                    <li><%= link_to "Show All User's", show_all_user_path %></li>
                <% end %>
                <li>
                    <div class="dropdown">
                        <%= link_to current_user.name, root_path, class:'user-name dropbtn', id:"drp-btn" %>
                        <div id="myDropdown" class="dropdown-content">
                            <%= link_to 'Edit Profile', edit_user_registration_path %>
                            <a href="#home">Home</a>
                            <a href="#about">About</a>
                            <a href="#contact">Contact</a>
                        </div>
                    </div>
                </li>
                <li>
                    <%= link_to 'logout', destroy_user_session_path, method: :delete, class:'logout-btn' %>
                </li>
            <% else %>
                <li>
                    <%= link_to 'Login', new_user_session_path %>
                </li>
                <li>
                    <%= link_to 'Signup', new_user_registration_path %>
                </li>
            <% end %>
        </div>
    </ul>
</div>